<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      {% assign urlPath = page.path | split:"/"%}
      {% if urlPath.first == "tutorial"%}
      <a href="{{ site.url }}/tutorial" class="site-title">Tutorials List</a>
      {% else %}
      <a href="{{ site.url }}" class="site-title">Home</a>
      {% endif %}
      
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
