.scales {
    width: 60%;
}

.scales-container {
    text-align: center;
}

.source-container {
    text-align: center;
}

.legend-container {
    text-align: center;
    height: 70px;
    margin-bottom: 20px;
}

text {
    font-size: 12px;
}

@media (max-width: 210px) {
    .scales {
        height: 102px;
        width: 75%;
    }
}

@media (min-width: 211px) and (max-width: 300px) {
    .scales {
        height: 141px;
        width: 70%;
    }
}

@media (min-width: 301px) and (max-width: 430px) {
    .scales {
        height: 180px;
        width: 60%;
        min-width: 240px;
    }
}

@media (min-width: 431px) and (max-width: 620px) {
    .scales {
        height: 266px;
        width: 355px;
    }
}

@media (min-width: 620px){
    .scales {
        height: 266px;
        width: 355px;
    }
}